.apps {
  text-align: center;
}

.apps__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  margin-block-start: 5px;
  padding: 0;

  list-style: none;
}

.apps__icon {
  inline-size: 150px;
}
